@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c4c6ca;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey;
}

.loginBg {
  background-image: url("./assets/img/login_bg.png");
  height: 100vh;
  width: 100vw !important;
  background-size: cover;
  background-repeat: no-repeat;
}

.translate-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.to-do-card {
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));
  padding: 20px 20px 20px 27px;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 12px;
  margin-bottom: 12px;
}
.calendar-card {
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));
  padding: 15px 20px 45px 27px;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow: hidden;
}
.order-card {
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));
  padding: 15px 15px 45px 15px;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow: hidden;
}
.my-order-card {
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));
  padding: 15px 15px 45px 20px;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow: hidden;
}
.AnalysiCard {
  padding: 15px 20px 15px 27px;
}
.mettingCard {
  padding: 15px 20px 15px 27px;
  gap: 10px;
}

.feature-card {
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
  border: 1px solid #7CA1FF;
  background: #FFF;
}
.res-login {
  display: none;
}
@media screen and (max-width: 768px) {
  .loginBg {
    display: none;
  }
  .res-login {
    display: block;
  }
  .feature-card {
    padding: 15px 15px 15px 15px;
  }
}
.dialog-text{
  font-family: 'Inter', sans-serif;
}
.dialog-wrapper .MuiDialog-paper{
  border-radius: 15px;
}
.pink-border{
  border-radius: 10px;
border: 1px solid #FF7DA0;
}
.orange-border{
  border-radius: 10px;
border: 1px solid #FF8130;
}
@media screen and (max-width: 579px) {
  .flex-content-heading{
    flex-direction: column;
    align-items: flex-start !important;
  }
}
@media screen and (min-width: 1025px) {
.custom-width-dialog .MuiDialog-paper{
min-width: 385px !important;
}
}

